@import "variables";

.editor {
    display: flex;
    height: 100%;
}

.editor__no-file-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: $editor-font-color;
}

.editor__code-editor {
    width: 100%;
    height: 100vh;
}

.editor__side-panel {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    border-right: 1px solid $border-color;
}

.editor__side-panel__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid $border-color;
}

.editor__side-panel__files-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
}
