@import "variables";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $font-color;
  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root { // Needed because fuck if I know
  height: 100%;
  // margin: 0;
  // padding: 0;
}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: inherit;
}

a:hover {
  color: $hover-color;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid $border-color;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $background-color-secondary;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: $hover-color;
  border-style: dashed;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  border-radius: 8px;
  border: 2px solid $border-color;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $background-color-secondary;
  cursor: pointer;
  transition: border-color 0.25s;
}

label {
  font-size: 20px;
  font-family: $font-family;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-row {
  @extend .container;
  flex-direction: row;
}

.fill-container {
  @extend .container;
  height: 100%;
  width: 100%;
}

.panel {
  @extend .container;

  padding: 2em;
  border: 2px solid $border-color;
  border-radius: 8px;
  background-color: $background-color-secondary;
}

.error-label {
  color: $error-color;
  font-size: 14px;
}