@import 'variables';

.register-form {
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    border: 2px solid;
    padding: 35px;


}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid;
}

label {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.error-label {
    color: $error-color;
    font-size: 14px;
}