.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Random {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}